$icon-font-path: '../fonts/';

// Google fonts
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700);
@import url(https://fonts.googleapis.com/css?family=Lalezar);

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

html,
body {
    margin:0;
    padding:0;
    height:100%;
    background: lightgray;
}

html{
  font-size: 16px;
}

body {
  font-size: 62.5%;
}

h1 {
  line-height: 70px;
  font-size: 2.6em;
  height: 70px;
}

h2 {
  font-size: 1.8em;
}


.pac-container{
  z-index: 200000;
}

.cities-picker {
  height: 100%;
  &_title {
    font-family: 'Lalezar', cursive;
    margin: 0 0 0 15px;
    
    color: yellow;
    & i {
      margin-right: 15px;
    }
  }
  &_panel {
    background-color: darken(darkgray, 40%);
    width: calc(100% - 50px);
    position: fixed;
    z-index: 2000;
    height: 100%;
    left: 100%;
    transition: all .3s ease;
    & .nav-icon {
      background-color: darken(darkgray, 40%);
      border-radius: 5px 0 0 5px;
      position: absolute;
      text-align: center;
      line-height: 50px;
      font-size: 1.6em;
      padding: 10px;
      height: 70px;
      left: -50px;
      color: yellow;
      width: 50px;
      top: 0;
    }
    & .autolocation-btn {
      border: 0;
      border-bottom: 5px solid darken(yellow, 10%);
      background-color: darken(yellow, 6%);
      font-family: 'Roboto Slab', serif;
      color: darken(darkgray, 30%);
      font-weight: 700;
      font-size: 1.4em;
      height: 40px;
      width: 100%;
      outline: 0;
      & i {
        margin-right: 15px;          
      }
    }
    & h2 {
      margin: 20px 0 0 20px;
      position: relative;
      color: lightgray;
    }
    & .panel {
      &_clear-all {
        font-family: 'Lalezar', cursive;
        text-align: center;
        color: white;
      }
    }
  }
  &_search-box {
    font-family: 'Roboto Slab', serif;
    width: calc(100% - 20px);
    font-size: 1.4em;
    font-weight: 100;
    padding: 10px; 
    height: 35px;
    margin: 10px;
    outline: 0;
  }
  &_map {
    height: 100%;
    width: 100%;
  }
  &_list {
    font-family: 'Roboto Slab', serif;
    background-color: darken(darkgray, 30%);
    padding: 0;
    &-city {
      border-bottom: 2px solid darken(darkgray, 40%);
      padding: 10px 10px 10px 30px;
      font-size: 1.4em;
      list-style: none;
      font-weight: 700;
      color: white;
      & p {
        max-width: calc(100% - 30px);
        display: inline-block;
        white-space: nowrap;
        overflow: scroll;
        margin: 0;
      }
      & i {
        float: right;
      }
    }
  }
}

.see-all {
    font-family: 'Lalezar', cursive;
    position: absolute;
    font-weight: 100;
    font-size: 0.7em;
    color: yellow;
    right: 15px;
    top: 10px;
}

.selected {
  border-left: 5px solid yellow;
}

.navOpen {
  left: 50px;
  transition: all .3s ease;
}

/*MEDIA QUERIES*/
@media (min-width: 768px){
  .cities-picker {
    display: flex;
    flex-direction: row;
    &_panel {
      position: initial;
      flex: 0 0 300px;
      width: 300px;
    }
    &_map {
      flex: 1 1 auto;
    }
  }
}

@media (min-width: 992px){

}

@media (min-width: 1200px){

}