$icon-font-path: '../fonts/';

// Google fonts
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700);
@import url(https://fonts.googleapis.com/css?family=Lalezar);

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

html,
body {
    margin:0;
    padding:0;
    height:100%;
    background: lightgray;
}

html{
  font-size: 16px;
}

body {
  font-size: 62.5%;
}

h1 {
  line-height: 70px;
  font-size: 2.6em;
  height: 70px;
}

h2 {
  font-size: 1.8em;
}

.cities-picker {
  height: 100%;
  &_panel {
    background-color: darken(darkgray, 40%);
    width: calc(100% - 50px);
    position: fixed;
    z-index: 2000;
    height: 100%;
    left: 100%;
    transition: all .3s ease;

    & .main-title {
      font-family: 'Lalezar', cursive;
      margin: 0 0 0 15px;
      color: yellow;
    }
    & .nav-icon {
      background-color: darken(darkgray, 40%);
      border-radius: 5px 0 0 5px;
      position: absolute;
      text-align: center;
      line-height: 50px;
      font-size: 1.6em;
      padding: 10px;
      height: 70px;
      left: -50px;
      color: yellow;
      width: 50px;
      top: 0;
    }
    & .autolocation-btn {
      border: 0;
      border-bottom: 5px solid darken(yellow, 10%);
      background-color: darken(yellow, 6%);
      font-family: 'Roboto Slab', serif;
      color: darken(darkgray, 30%);
      font-weight: 700;
      font-size: 1.4em;
      height: 40px;
      width: 100%;
      outline: 0;
    }
    & .subtitle {
      margin: 20px 0 0 20px;
      position: relative;
      color: lightgray;
      & small { /* -- Expand map function -- */
        font-family: 'Lalezar', cursive;
        position: absolute;
        font-weight: 100;
        font-size: 0.7em;
        cursor: pointer;
        color: yellow;
        right: 15px;
        top: 10px;
      }
    }
    & .search-box {
      font-family: 'Roboto Slab', serif;
      width: calc(100% - 20px);
      font-size: 1.4em;
      font-weight: 100;
      padding: 10px; 
      height: 35px;
      margin: 10px;
      outline: 0;
    }
    & .cities-list {
      font-family: 'Roboto Slab', serif;
      background-color: darken(darkgray, 30%);
      padding: 0;
      &_city {
        border-bottom: 2px solid darken(darkgray, 40%);
        padding: 10px 10px 10px 30px;
        font-size: 1.4em;
        list-style: none;
        font-weight: 700;
        color: white;
        & p { /* -- City names in list -- */
          max-width: calc(100% - 30px);
          display: inline-block;
          white-space: nowrap;
          overflow: auto;
          margin: 0;
        }
        & i { /* -- X icon in every city -- */
          float: right;
        }
      }
    }
    & .clear-all {
      font-family: 'Lalezar', cursive;
      text-align: center;
      cursor: pointer;
      color: white;
    }
  }
  
  &_map {
    height: 100%;
    width: 100%;
  }
}

/* UTILITARY CLASSES */
.icon-margin {
  margin-right: 15px;
}

/* Required in order to put the Google Autocomplete list over the panel and not behind. */
.pac-container {
  z-index: 200000;
}

.selected { /* yellow border as mark in current city. */
  border-left: 5px solid yellow;
}

.navOpen { /* In mobile views, slides the menu to open. */
  left: 50px;
  transition: all .3s ease;
}

/*MEDIA QUERIES*/
@media (min-width: 768px){
  .cities-picker {
    display: flex;
    flex-direction: row;
    &_panel {
      position: initial;
      flex: 0 0 300px;
      width: 300px;
    }
    &_map {
      flex: 1 1 auto;
    }
  }
}

/* NO MORE MEDIA QUERIES NEEDED */
@media (min-width: 992px){

}

@media (min-width: 1200px){

}