<!doctype html>
<html class="no-js" lang="" ng-app="citiesPicker">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <title>Cities Picker</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel='stylesheet' href='/bower_components/leaflet/dist/leaflet.css' />
    <link rel='stylesheet' href='/bower_components/angular-google-places-autocomplete/src/autocomplete.css' />
    <link rel='stylesheet' href='/bower_components/angular-google-places-autocomplete/dist/autocomplete.min.css' />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet'/>
    <!-- endbuild -->
    
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body ng-controller="MainController">
    
    <div class="cities-picker">
      
        <div class="cities-picker_panel" ng-class="{'navOpen' : navOpen}">
            <h1 class="cities-picker_title">Cities Picker</h1>
            <i class="nav-icon glyphicon glyphicon-menu-hamburger visible-xs" ng-click="navOpen = !navOpen;" ></i>

            <button class="autolocation-btn" ng-click="getMyLocation('')">
              <i class="glyphicon glyphicon-screenshot"></i>
              Where am I?
            </button>

            <h2 class="cities-picker_title">
                <i class="glyphicon glyphicon-search"></i>
                Search City
                <small class="see-all" ng-click="expandMap()" >Expand map</small>
            </h2>
            
            <input class="cities-picker_search-box" g-places-autocomplete ng-model="place" placeholder="Type a city" ng-change="validateAndAdd()"/>

            <ul class="cities-picker_list">
                <li class="cities-picker_list-city" ng-class="{ 'selected' : currentCity === $index }" ng-repeat="city in $storage.citiesList" ng-click="moveMapHere($index)">
                    <p>{{city}}</p>
                    <i class="glyphicon glyphicon-remove" ng-click="removeCity($index)"></i>
                </li>
            </ul>
        </div>
        
        <leaflet id="mapboxid" lf-center="center" class="cities-picker_map" markers="$storage.markers" defaults="defaults"></leaflet>
    </div>
    
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzHsTQgYYblEPoY_CstQgE9qpk1reDcrw&libraries=places"></script>   
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
    <script src="/bower_components/leaflet/dist/leaflet-src.js"></script>
    <script src="/bower_components/ui-leaflet/dist/ui-leaflet.js"></script>
    <script src="/bower_components/angular-google-places-autocomplete/src/autocomplete.js"></script>
    <script src="/bower_components/angular-google-places-autocomplete/dist/autocomplete.min.js"></script>
    <script src="/bower_components/ngstorage/ngStorage.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js scripts/main.js --> 
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers.js"></script>
    <!-- endbuild -->
  </body>
</html>
