<div class="cities-picker" ng-controller="MainController">
  
    <div class="cities-picker_panel" ng-class="{'navOpen' : navOpen}">
        <h1 class="cities-picker_title">Cities Picker</h1>
        <i class="nav-icon glyphicon glyphicon-menu-hamburger visible-xs" ng-click="navOpen = !navOpen;" ></i>

        <button class="autolocation-btn" ng-click="getMyLocation('')">
          <i class="glyphicon glyphicon-screenshot"></i>
          Where am I?
        </button>

        <h2 class="cities-picker_title">
            <i class="glyphicon glyphicon-search"></i>
            Search City
            <small class="see-all" ng-click="expandMap()" >Expand map</small>
        </h2>
        
        <input class="cities-picker_search-box" g-places-autocomplete ng-model="place" placeholder="Type a city" ng-change="validateAndAdd()"/>

        <ul class="cities-picker_list">
            <li class="cities-picker_list-city" ng-class="{ 'selected' : currentCity === $index }" ng-repeat="city in $storage.citiesList" ng-click="moveMapHere($index)">
                <p>{{city}}</p>
                <i class="glyphicon glyphicon-remove" ng-click="removeCity($index)"></i>
            </li>
        </ul>
    </div>
    
    <leaflet id="mapboxid" lf-center="center" class="cities-picker_map" markers="$storage.markers" defaults="defaults"></leaflet>
</div>